.home-body-main {
    background: #9CB3D3; height: 100vh; position: relative;
}

.mails-div {
    width: 100%; position: absolute; top: 70px; bottom: 80px; right: 0; height: calc(100% - 150px);
}

.header-div {
    height: 70px; position: absolute; width: 100%;
}

.textarea-div {
    width: 100%; height: 80px; bottom: 0; right: 0;
}

.text-div {
    border-top: 1px solid white; height: 79px;
}

.text-div-h1 {
    margin-top: 20px !important; color: white;
}