.intro-title {
  font-size: 55px; margin: 0; float: left;
}

.intro-title-link {
  text-decoration: none !important; color: #596466;
}

.intro-subtitle {
  margin: 0; padding: 28px 0 0 40px; float: left;
  color: white; font-size: 21px;
}

.intro-header {
  text-align: left; background-color: #C3E5EC;
  height: 90px; padding: 30px 0 0 40px;
}