.intro-title {
  margin: 0; float: left; width: auto; height: 100%;
}

.intro-title-link {
  text-decoration: none !important; color: #596466;
}

.intro-subtitle {
  margin: 0; padding: 40px 0 0 30px; float: left;
  color: white; font-size: 21px;
}

.intro-header {
  text-align: left; background-color: #C3E5EC;
  height: 100px;
}