.channel-item-body {
    cursor: pointer;
}

.channel-item-body:hover {
    background: #D1BABA; cursor: pointer;
}

.channel-item-name {
    padding: 10px 0 0 20px; text-align: left;
    font-weight: bold; color: rgba(255, 255, 255, 0.6);
}

.channel-item-name * {
    margin: 0;
}

.channel-item-address {
    padding: 0 0 10px 30px; text-align: left;
    font-weight: bold; color: rgba(255, 255, 255, 0.6);
}