.channel-item-body {
    cursor: pointer;
}

.channel-item-body:hover {
    background: #D1BABA; cursor: pointer;
}

.channel-item-name {
    padding: 10px 0 0 0;
}

.channel-item-name * {
    margin: 0;
}

.channel-item-address {
    padding: 0 0 10px 0;
}