.add-button {
    border-radius: 10px; width: 60px; height: 30px; font-size: 20px;
    font-weight: bold; cursor: pointer; color: white; background-color: #157483;
    border-color: white;
}

.add-button:hover {
    cursor: pointer;
}