.mail-item-me {
    width: 50%; right: 30px; position: absolute;
    background: #A4D8EE; text-align: left; border-radius: 10px;
}

.mail-item-other {
    width: 50%; left: 30px; position: absolute;
    background: white; text-align: left; border-radius: 10px; 
}

.mail-item-mailbox {
    width: calc(100% -70px); left: 30px; right: 30px; position: absolute;
    background: white; text-align: left; border-radius: 10px; 
}

.unseen {
    background: #FF8064 !important;
}

.mail-item-me:hover {
    cursor: pointer;
}

.mail-item-other:hover {
    cursor: pointer;
}

.mail-item-text {
    margin: 10px !important; width: calc(100% - 20px); 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}