.datebar-body {
    margin-top: 20px !important;
}

.datebar-text {
    width: 200px; height: 25px; left: calc(50% - 150px); padding-top: 5px; margin: auto !important;
    font-weight: bold; font-size: 20px; background: #157483; color: white; border-radius: 10px;
}