.header-body {
    width: 100%; height: 100%;
    background: white; margin-top: 30px;
}

.header-address {
    color: black;
}

@media only screen and (max-width: 1000px) {
    .header-menu {
        display: inline; right: 3px; top: 20; position: absolute;
    }

    .header-menu:hover {
        cursor: pointer;
    }

    .mailbox-menu {
        display: inline; left: 10px; top: 30; position: absolute;
    }

    .mailbox-menu:hover {
        cursor: pointer;
    }

    .header-address {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1000px) {
    .mailbox-menu {
        display: none;
    }

    .header-menu {
        display: none;
    }

    .header-address {
        top: 20px; left: calc(50% - 160px); right: calc(50% - 160px); position: absolute;
    }
}