.signup-imap {
    text-align: left; width: 360px; margin: 150px auto 150px auto;
}

.signup-imap-header {
    font-size: 20px; margin: 0 0 10px 0; color: #157483
}

.signup-imap-cancel {
    background-color: #D26D6D; width: 115px;
    float: left;
}

.signup-imap-cancel:hover {
    color: #D26D6D; border-color: #D26D6D;
}

.signup-imap-next {
    float: right;
}